@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("EditPortfolio", "Portfolio", null, FormMethod.Post, false, new { enctype = "multipart/form-data", @class = "forms-sample" }))
            {

                <h4 class="card-title"> Proje Düzenleme Paneli </h4>
                <form class="forms-sample">
                    @Html.HiddenFor(x => x.PortfolioID)
                    <br />
                    @Html.Label("Proje Başlığı")
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name)
                    <br />
                    @Html.Label("Proje Hakkında Bilgi")
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Description)
                     <br />
                    
                        <label>Görsel </label>
                        <input asp-for="ImageUrl"  class="form-control" onchange="loadFile(event)"/>
                         @Html.ValidationMessageFor(x => x.Description)
                            <input type="file" accept="image/*" name="picture" onchange="loadFile(event)">
                            <img id="output" width="100px" height="100px" src="@Model.ImageUrl"/>
                            <script>
                             var loadFile = function(event) {
                             var output = document.getElementById('output');
                               output.src = URL.createObjectURL(event.target.files[0]);
                                output.onload = function() {
                                URL.revokeObjectURL(output.src) // free memory
                                 }
                                 };
                             </script>
                        
                    <br />
                    @*<button class="btn btn-info">Kaydet</button>*@
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <a asp-action="Index" asp-controller="Portfolio" class="btn btn-dark">İptal</a>
                </form>
            }
        </div>
    </div>
</div>
